<!DOCTYPE html>
<html lang="en" ng-app="martApp">
<head>
    <meta charset="UTF-8">
    <title>Virtual Mart</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">-->
</head>
<body ng-app="martApp">
<div class="container">
<h1>Most Virtual Store</h1>
    <h5>Disclaimer: Everything is an illusion here</h5>

<div class="container">
    <!--<div class = "container" ng-controller="browseCtrl as ctrl">-->
        <!--<h1>Browse</h1>-->
        <!--<form name="queryForm">-->
            <!--<div class = form-group">-->

            <!--</div>-->
        <!--</form>-->
        <!--<hr>-->
        <!--<table class ="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Serial no</th>-->
                <!--<th>Brand</th>-->
                <!--<th>Product Name</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr ng-repeat="item in ctrl.items">-->

                <!--<td>{{item.upc12}}</td>-->
                <!--<td>{{item.brand}}</td>-->
                <!--<td>{{item.name}}</td>-->

            <!--</tr>-->
            <!--</tbody>-->

        <!--</table>-->
    <!--</div>-->

    <ul class="nav nav-tabs">
        <li class="nav"><a href="#/A" >Browse</a></li>
        <li class="nav"><a href="#/B" >Add Product</a></li>
    </ul>

    <div class="tab-content">
        <ui-view></ui-view>
    </div>


</div>
</div>

</body>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="app.js"></script>
<script src="browse/browse.controller.js"></script>
<script src="add/add.controller.js"></script>
<script src="app.config.js"></script>
</html>