<div class="container" ng-controller="addCtrl as ctrl">

    <h2>Add Product</h2>

    <form name="regForm" novalidate ng-submit="ctrl.register()" autocomplete="off">

        <div class="form-group">

            <label for="serial no">serial no</label>

            <input type="number" id="serial no" name="serial no" class="form-control"
                   ng-model="ctrl.item.serial">

        </div>

        <div class="form-group">

            <label for="brand">Brand name:</label>

            <input type="text" id="brand" name="brand" class="form-control"
                   ng-model="ctrl.item.brand" required>

            <span class="help-block" ng-show="regForm.brand.$invalid">
                Please enter Brand Name.</span>

        </div>

        <div class="form-group">

            <label for="brand">Product name:</label>

            <input type="text" id="product" name="product" class="form-control"
                   ng-model="ctrl.item.name" required>

            <span class="help-block" ng-show="regForm.product.$invalid">
                Please enter Product Name.</span>

        </div>


        <div class="form-group">

            <button type="submit" class="btn-success form-control"
                    ng-disabled="regForm.$invalid">
                Add Product
            </button>

        </div>

    </form>

    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.status.success"
         ng-class="{'alert-success': ctrl.status.success == 'ok', 'alert-danger': ctrl.status.success == 'error' }">

        <button class="close" data-dismiss="alert">
            <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
            &times;
        </button>

        {{ ctrl.status.message }}

    </div>

</div>