<div class = "container" ng-controller="browseCtrl as ctrl">
    <h1>Browse</h1>
    <form name="queryForm">
        <div class = form-group">
            <input id ="productName"
                   class="form-control"
                   type="text"
                   name = "productName"
                   ng-model="ctrl.productName">
        </div>
        <div>
            <button type="submit"
                    class ="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search Product
            </button>
        </div>
    </form>
    <hr>
    <table class ="table table-striped">
        <thead>
        <tr>
            <th>Serial no</th>
            <th>Brand</th>
            <th>Product Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in ctrl.items">

            <td><img src="http://www.barcodes4.me/barcode/c128a/{{item.upc12}}.png?IsTextDrawn=1" alt="barcode"></td>
            <td>{{item.brand}}</td>
            <td>{{item.name}}</td>
            <td>
                <button type="button" class="btn btn-link btn-sm"
                        ng-click="ctrl.delete()">
                    <span class="glyphicon glyphicon-trash"]></span>
                </button>
            </td>
        </tr>
        </tbody>

    </table>
</div>